sudo apt update
sudo apt install git -y
sudo apt install mysql-client-core-8.0 -y
git clone -b main https://github.com/kaylixe/AWS_terraform_webApp.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/AWS_terraform_webApp/db_backup.sql